<div >

  <h2>Danh Sách Hệ Thống Tài Khoản</h2>
  <%= link_to("<< Thêm mới", :action => 'new', :class => 'action new') %>
  <form id="loginForm" method="post" action="/danhmuc/dmhethongtk/search">
    <table class="new">
      <tr>
        <td> Mã   </td>
        <td> <input type="text" id="sotk" name="sotk" ></td>
        <td> <%= submit_tag(" Tìm ") %></td>
      </tr>

    </table>
  </form>
</div>
<div>
  <table class="TFtable" border="0">
    <tr>
      <th align="center">Số TK</th>
      <th align="center">Tên</th>
      <th align="center">Tên tiếng anh</th>
      <th align="center">Nhóm TK</th>
      <th align="center">Tính chất</th>
      <th align="center">Diễn giải</th>
      <th align="center" colspan="3">Tùy chọn</th>
    </tr>
    <% @dmhethongtk.each do |dmhethongtk| %>
        <tr>
          <td><%= dmhethongtk.sotk %></td>
          <td align="left"><%= dmhethongtk.tentk %></td>
          <td align="left"><%= dmhethongtk.tentienganh %></td>
          <td align="left"><%= dmhethongtk.nhomtk %></td>
          <td align="left"><%= dmhethongtk.ten%></td>
          <td align="left"><%= dmhethongtk.diengiai%></td>
          <td width="10"><%= link_to("Xem", {:action => 'show',:sotk=> dmhethongtk.sotk}, :class => 'action show') %></td>
          <td width="10"><%= link_to("Xóa",{:action => 'delete',:sotk=>dmhethongtk.sotk},:class => 'action_xoa') %></td>
          <td width="10"><%= link_to("Sửa",{:action => 'edit',:sotk=>dmhethongtk.sotk},:class => 'action_sua') %></td>
        </tr>
    <% end %>
  </table>
</div>

