<!--<script type="text/javascript" src="/assets/dmnhomtk.js"></script>!-->


<div class="hethongtk">
  <h2>THÔNG TIN TÀI KHOẢN</h2>
  <hr>
  <table class="new">
    <tr>
      <th>Mã :</th>
      <!-- <td><input id = "ma" type="text" name="manhom" onkeypress="check(event,this)"/></td> !-->
      <td><%= text_field_tag :sotk %></td>
    </tr>
    <tr>
      <th>Tên :</th>
      <td><%= text_field_tag :tentk %></td>
    </tr>
    <tr>
      <th>Tên tiếng anh:</th>
      <td><%= text_field_tag :tentienganh %></td>
    </tr>
    <tr>
      <th>Thuộc nhóm :</th>
      <td>
        <%= text_field_tag :dmnhomtk, "", onkeypress: "thong_tin_nhomtk(this)", tab: 1 %>
      </td>
    </tr>
    <tr>
      <th>Tính chất</th>
      <td>
        <%= text_field_tag :tinhchat, "", onkeypress: "thong_tin_tinhchat(this)", tab: 2 %>
      </td>
    </tr>
    <tr>
      <th>Diễn giải</th>
      <td>
        <%= text_field_tag :diengiai, "", class: "", tab: 3 %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <button class="menuText" id="buttonLuu" onclick="Insert_them_moi_doi_tuong()">Lưu thông tin</button>
      </td>
    </tr>
  </table>

  <hr>
  <%= link_to("<< Xem danh sách ", :action => 'index', :class => 'action index') %>
</div>
<div id="view-hidden"></div>